#wrapper{
    padding: 20px;
}

#header{
    margin-bottom: 50px;
}

h3, #link{
    display: inline-block;
    vertical-align: middle;
}

#link{
    float: right;
    align-content: space-between;
}

form{
    width: 40%;
    margin-top: 50px;
}

label{
    width: 100px;
}

button{
    margin-left: 200px;
    margin-top: 20px;
}